@tailwind base;
@tailwind components;
@tailwind utilities;


/* shows controls on hover */
.controls {
    opacity: 0;
}

.trigger:hover .controls {
    opacity: 1;
}

.trigger:hover .overlay {
    --bg-opacity: 0.75;
}


.top-arrow-border {
    border: 1px solid rgba(128, 128, 128, 0.253);
}

.arrow-border-profile {
    /* border-r-0 border-b-0 */
    border-right: 0 ;
    border-bottom: 0;
}


#style-1::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 100px;
}

#style-1::-webkit-scrollbar {
  width: 4px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #5555557c;
}


.scroll-bar-border {
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 0px, black 500px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 0px, black 10px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  }
  
  .scroll-bar-border:hover {
    -webkit-mask-position: left top;
  }
  
  .navbar-scrollbar-content {
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  }
  
  .navbar-scrollbar-content:hover {
    -webkit-mask-position: left top;
  }
  
  
  
  
  

